In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('C:/Users/Dell/Downloads/london_weather_MODIFIED - london_weather_MODIFIED.csv')
df.head(2)

,date,cloud_cover,sunshine,global_radiation,max_temp,mean_temp,min_temp,precipitation,pressure,snow_depth
0,19790101,2.0,7.0,52.0,2.3,-4.1,-7.5,0.4,101900.0,9.0
1,19790102,6.0,1.7,27.0,1.6,-2.6,-7.5,0.0,102530.0,8.0

1. Convert the date column to datetime dtype. Double-check the result. Is it what you expected? If not, be sure to correct it by entering the appropriate format!

In [4]:
df['date'] = pd.to_datetime(df['date'], format='%Y%m%d')
df.dtypes

date                datetime64[ns]
cloud_cover                float64
sunshine                   float64
global_radiation           float64
max_temp                   float64
mean_temp                  float64
min_temp                   float64
precipitation              float64
pressure                   float64
snow_depth                 float64
dtype: object

2. Set the date column as the index. Inspect the new index of your dataframe. What type of index is it? Does it have a frequency?

In [5]:
df = df.set_index('date')
df.head(2)

,cloud_cover,sunshine,global_radiation,max_temp,mean_temp,min_temp,precipitation,pressure,snow_depth
date,,,,,,,,,
1979-01-01,2.0,7.0,52.0,2.3,-4.1,-7.5,0.4,101900.0,9.0
1979-01-02,6.0,1.7,27.0,1.6,-2.6,-7.5,0.0,102530.0,8.0

3. Filter out only the required data:

In [7]:
#Keep only data from the year 2000 or later.
#Keep only the following features
df = df.loc['2000' : , ['precipitation','mean_temp', 'min_temp','max_temp','snow_depth'] ]
df.head(2)

            precipitation  mean_temp  min_temp  max_temp  snow_depth
date
2000-01-01            0.0        7.0       4.9      10.8         0.0
2000-01-02            0.2        7.9       5.0      11.5         0.0

4. Answer the following questions

a) "The lowest temperature of {max temp} degrees occurred on {date as "MonthName 2-digit-day, 4-digit year. } which was a {day of the week}."

In [11]:
mintemp = df['max_temp'].min()
min_date = df['max_temp'].idxmin()

print(f"The lowest temperature of {mintemp} degrees occured on {min_date.strftime('%B %d, %Y')} which was a {min_date.day_name()}.")

The lowest temperature of -1.2 degrees occured on February 27, 2018 which was a Tuesday.

b) The highest daily precipitation of {max preciptation} inches occurred on {date as "MonthName 2-digit-day, 4-digit year. } which was a {day of the week}."

In [12]:
max_precipitation = df['precipitation'].max()
date_max_precipitation = df['precipitation'].idxmax()